In [7]:
#Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path
import scipy.stats as st

In [10]:
# Store file path in a variable
data_file1 = Path("Resources\AAPL_Hdata_5yr.csv")
data_file2 = Path("Resources\CSCO_HDATA_5yr.csv")
data_file3 = Path("Resources\HistoricalData5yr_SBUX.csv")
data_file4 = Path("Resources\MSFT_HData_5yr.csv")
data_file5 = Path("Resources\TSLA_HData_5yr.csv")

<>:2: SyntaxWarning: invalid escape sequence '\A'
<>:3: SyntaxWarning: invalid escape sequence '\C'
<>:4: SyntaxWarning: invalid escape sequence '\H'
<>:5: SyntaxWarning: invalid escape sequence '\M'
<>:6: SyntaxWarning: invalid escape sequence '\T'
<>:2: SyntaxWarning: invalid escape sequence '\A'
<>:3: SyntaxWarning: invalid escape sequence '\C'
<>:4: SyntaxWarning: invalid escape sequence '\H'
<>:5: SyntaxWarning: invalid escape sequence '\M'
<>:6: SyntaxWarning: invalid escape sequence '\T'
C:\Users\Diana\AppData\Local\Temp\ipykernel_26940\3595181498.py:2: SyntaxWarning: invalid escape sequence '\A'
  data_file1 = Path("Resources\AAPL_Hdata_5yr.csv")
C:\Users\Diana\AppData\Local\Temp\ipykernel_26940\3595181498.py:3: SyntaxWarning: invalid escape sequence '\C'
  data_file2 = Path("Resources\CSCO_HDATA_5yr.csv")
C:\Users\Diana\AppData\Local\Temp\ipykernel_26940\3595181498.py:4: SyntaxWarning: invalid escape sequence '\H'
  data_file3 = Path("Resources\HistoricalData5yr_SBUX.csv")
C:\Users\Diana\AppData\Local\Temp\ipykernel_26940\3595181498.py:5: SyntaxWarning: invalid escape sequence '\M'
  data_file4 = Path("Resources\MSFT_HData_5yr.csv")
C:\Users\Diana\AppData\Local\Temp\ipykernel_26940\3595181498.py:6: SyntaxWarning: invalid escape sequence '\T'
  data_file5 = Path("Resources\TSLA_HData_5yr.csv")

In [15]:
# Import the csv as a data frame
History1= pd.read_csv(data_file1, encoding="ISO-8859-1")
History2 = pd.read_csv(data_file2, encoding="ISO-8859-1")
History3 = pd.read_csv(data_file3)
History4 = pd.read_csv(data_file4)
History5 = pd.read_csv(data_file5)

History1.head()
History2.head()
History3.head()
History4.head()
History5.head()

   Name     Date Close/Last     Volume      Open      High       Low
0  TSLA  12/8/23   $243.84   103126800  $240.27   $245.27   $239.27
1  TSLA  12/7/23   $242.64   107142300  $241.55   $244.08   $236.98
2  TSLA  12/6/23   $239.37   126436200  $242.92   $246.57   $239.17
3  TSLA  12/5/23   $238.72   137971100  $233.87   $246.66   $233.70
4  TSLA  12/4/23   $235.58   104099800  $235.75   $239.37   $233.29

In [ ]:
# Selected only relevant columns for merge
select_new_test = [["Artist", "Track", "release_year"]]
select_new_test

In [2]:
import pandas as pd

# List of CSV file names
csv_files = ['AAPL_Hdata_5yr.csv']

# Create an empty DataFrame to store the merged data
merged_df = pd.DataFrame()

# Loop through each CSV file and merge it with the existing DataFrame
for file in csv_files:
    # Read the CSV file into a DataFrame
    df = pd.read_csv()
    
    # If it's the first file, assign it to merged_df
    if merged_df.empty:
        merged_df = df
    else:
        # Merge the current DataFrame with the merged DataFrame based on a common column
        # Replace 'common_column' with the actual common column in your CSV files
       merged_df = pd.merge(merged_df, df, on=['common_column', 'Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low'], how='inner')


# The resulting merged_df will contain data from all CSV files based on the common column
print(merged_df)

ValueError: Invalid file path or buffer object type: <class 'list'>